@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Website error.</h1>
<h2 class="text-danger">An error occurred while trying to display this page.</h2>
<p>
    This is probably not anything that you have done.
</p>
<p>
    We've logged this as an issue and will look into it.
</p>
