@model LoginViewModel
@{
    ViewData["Title"] = "Already authorised";
}
<div class="bg-light min-vh-100 pt-5">
    <div>
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="card-group d-block d-md-flex row">
                    <div class="card-body text-center">
                        <div>
                            <h2>Already authorised</h2>
                            <p>You are already authorised as a member of this site, please login by following the link below.</p>
                            <a asp-route="login">Login now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
