@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot password";
}
<div class="bg-light min-vh-100 d-flex flex-row pt-5">
    <div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card-group d-block d-md-flex row">
                    <div class="card col-md-7 p-4 mb-0">
                        <div class="card-body">
                            <h1>Reset password</h1>
                            <p class="text-medium-emphasis">Enter your membership number below</p>
                            @if (!string.IsNullOrWhiteSpace(Model.LoginError))
                            {
                                <p class="text-danger mb-1">@Model.LoginError</p>
                            }
                            <form method="post" class="needs-validation">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">
                                        <i class="bi-envelope-at"></i>
                                    </span>
                                    <input required class="form-control" placeholder="Email address" autofocus asp-for="Email">
                                    <span asp-validation-for="Email"></span>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <input type="submit" class="btn btn-primary px-4" value="Reset password">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card col-md-5 text-white bg-primary py-5">
                        <div class="card-body text-center">
                            <div>
                                <h2>Forgotten your password?</h2>
                                <p>Once you send us your membership number, we will send a link to your registered email address.</p>
                                <p>If you are not yet registered for web access, please follow the link below.</p>
                                <a class="btn btn-lg btn-outline-light mt-3" asp-route="register">Register now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
