@{
    ViewData["Title"] = "Logged out";
}
<div class="bg-light min-vh-100 pt-5">
    <div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card-group d-block d-md-flex row">
                    <div class="card col-md-5 text-white bg-primary py-5">
                        <div class="card-body text-center">
                            <div>
                                <h2>Logged out</h2>
                                <p>You have now been logged out.</p>
                                <a class="btn btn-lg btn-outline-light mt-3" href="/">Go back to the home page</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    localStorage.clear();
</script>