@model LoginViewModel
@{
    ViewData["Title"] = "Password reset";
}
<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="card-group d-block d-md-flex row">
                    <div class="card-body text-center">
                        <div>
                            <h2>Password reset.</h2>
                            <p>If the email address you provided is associated with an account in our system, we have sent a password reset link to that address.</p>
                            <p>For security reasons, we cannot confirm whether the email you entered is linked to an account.</p>
                            <p>Please check your inbox and follow the instructions in the email if you receive one.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
