@{
    ViewData["Title"] = "Your password has been set";
}
<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="card-group d-block d-md-flex row">
                    <div class="card-body text-center">
                        <div>
                            <h2>Your password has been set</h2>
                            <p>You have also now been logged in and can access the <a href="/secure">membership area</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
