@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}
<div class="bg-light min-vh-100 flex-row pt-5">
    <div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card-group d-block d-md-flex row">
                    <div class="card col-md-7 p-4 mb-0">
                        <div class="card-body">
                            <h1>Register</h1>
                            <p class="text-medium-emphasis">Register for access to the membership area</p>
                            @if (!string.IsNullOrWhiteSpace(Model.RegistrationError))
                            {
                                <p class="text-danger mb-1">@Model.RegistrationError</p>
                            }
                            <form method="post" class="needs-validation">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">
                                        <i class="bi-person-lock"></i>
                                    </span>
                                    <input required class="form-control" placeholder="Name" autofocus asp-for="Name">
                                    <span asp-validation-for="Name"></span>
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">
                                        <i class="bi-envelope-at"></i>
                                    </span>
                                    <input required class="form-control" placeholder="Email address" asp-for="Email">
                                    <span asp-validation-for="Email"></span>
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">
                                        <i class="bi-person-vcard"></i>
                                    </span>
                                    <input class="form-control" placeholder="Member number (optional)" asp-for="MemberNumber">
                                    <span asp-validation-for="MemberNumber"></span>
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">
                                        <i class="bi-lock"></i>
                                    </span>
                                    <input required class="form-control" type="password" placeholder="Password" asp-for="Password">
                                    <span asp-validation-for="Password"></span>
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">
                                        <i class="bi-lock"></i>
                                    </span>
                                    <input required class="form-control" type="password" placeholder="Confirm Password" asp-for="PasswordCompare">
                                    <span asp-validation-for="PasswordCompare"></span>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <input type="submit" class="btn btn-primary px-4" value="Register">
                                    </div>
                                    <div class="col-6 text-end">
                                        <a asp-route="forgot-password" class="btn btn-link px-0">Forgot password?</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card col-md-5 text-white bg-primary py-5">
                        <div class="card-body text-center">
                            <div>
                                <h2>Already registered?</h2>
                                <p>If you already have a login please follow the link below.</p>
                                <p>Otherwise please fill in the fields to the left. If you know your member number, great. Don't worry, it's optional if you can't find it.</p>
                                <a class="btn btn-lg btn-outline-light mt-3" asp-route="login">Go to login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
