@model SetPasswordViewModel
@{
    ViewData["Title"] = "Set password";
}
<div class="bg-light min-vh-100 d-flex flex-row pt-5">
    <div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card-group d-block d-md-flex row">
                    <div class="card col-md-7 p-4 mb-0">
                        <div class="card-body">
                            <h1>Set password</h1>
                            <p class="text-medium-emphasis">Enter your new password below</p>
                            <form method="post" class="needs-validation">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">
                                        <i class="bi bi-lock"></i>
                                    </span>
                                    <input required class="form-control" placeholder="Your new password" autofocus asp-for="Password">
                                    <span asp-validation-for="Password"></span>
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">
                                        <i class="bi-lock"></i>
                                    </span>
                                    <input required class="form-control" type="password" placeholder="Confirm Password" asp-for="PasswordCompare">
                                    <span asp-validation-for="PasswordCompare"></span>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <input type="submit" class="btn btn-primary px-4" value="Set password">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card col-md-5 text-white bg-primary py-5">
                        <div class="card-body text-center">
                            <div>
                                <h2>Password strength</h2>
                                <p>We don't enforce a strong password policy (yet) so please consider using a password manager such as <a href="https://bitwarden.com/" >BitWarden</a> (free and open source).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
